DB_HOST=# Database Host Adress
PORT=# Running Port
MAILTRAP_USER=# Mailtrap User Key
MAILTRAP_PASSWORD=# Mailtrap User Password
BASE_URL=# Server / Hosting or port name
SECRET_KEY=# Generated Key for token generation
CLOUDINARY_CLOUD_NAME=# Cloudinary User Name
CLOUDINARY_API_KEY=# Cloudinary User API Key
LOUDINARY_API_SECRET=# Cloudinary User API Secret Key
ADMIN_EMAIL=# Admin Email
ADMIN_PASSWORD=# Admin Password
DEVELOPER_EMAIL=# Developer Email
DEVELOPER_PASSWORD=# Developer Password